*{
  padding:0;
  margin:0;
  text-decoration: none;
  list-style:none;
  box-sizing: border-box;
}
@font-face {
  font-family: myFirstFont;
  src: url(AwakenningPersonalUse-DOLPD.ttf);
  font-weight: 300;
}
body{
  font-family: myFirstFont;
}
nav{
  margin-top: 5px;
  width:100%;
  position: relative;
}
label.logo a{
  color:white;
  font-size: 10vh;
  line-height: 15vh;
  padding: 0 40px;
  position: relative;
  top:15px;
  cursor: pointer;
  text-decoration: none;
}
label.logo:hover{
  color:white;
  text-decoration: none;
  text-transform: none;
}

label.logo2{
  color:white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 30px;
  display: block;
  display: none;
}

nav ul{
  /* float:right; */
  text-align: center;
  margin-right:20px;
}

nav ul li{
  display: inline-block;
  /* line-height: 80px; */
  margin: 0 30px;
}

nav ul li a{
  color:white;
  font-size:3.5vh;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform:uppercase;
}

a.active, a:hover{
  /* background: #1b9bff; */
  color:red;
  transition: .5s;
}
/*div.video{
  height: 25%;
  width: 60%;
  margin-left: 20%;
  margin-top: 30px;
  justify-content: center;
  align content: center;
  border: 2px solid white;
  border-radius: 4px;
}*/
div.hacker-confidential {
  /*width: 100%;*/
  /*height: 100vh;*/
  /*overflow: hidden;*/

  display: flex;
  justify-content: center;
  align content: center;
}
#hacker{
  width: 92vh;
  height: 72vh;
  position: relative;
  z-index: 1;
  /*margin: auto;*/
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align content: center;
  /*cursor: pointer;*/
  /* display: none; */
}
#card-container{
  display:none;
}
.card-deck{
  margin: auto;
}
.video{
  height:100vh;
  /* width: 100%; */
  position: absolute;
}
#myVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* The switch - the box around the slider */
.cast-content{
  display: none;
}
.toggle-text{
  position: relative;
  color:white;
  left: 45%;
  font-size: 2.8vh;
}
.switch {
  position: relative;
  left:45.5%;
  bottom:5px;
  display: inline-block;
  width: 45px;
  height: 25.5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.card-container{
  /* display: none; */
  position: relative;
  width:25rem;
  /*height: 30rem;*/
  perspective: 250rem;
  /* display: none; */
  /*position: absolute;*/

}

.card-container:hover .card-front{
  transform: rotateY(180deg);
}
.card-container:hover .card-back{
  transform: rotateY(0deg);
}
.card-back{
  transform: rotateY(180deg);
}
.card-flip{
  transition: all 0.9s ;
  position: absolute;
  width: 100%;
  /*height:100%;*/
  border:2px solid white;
  backface-visibility: hidden;
  /*margin-right: 10rem;*/
}
.footer{
  width: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  /*display: block;*/
  color:white;
  font-size: 3vh;
  bottom:0;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float:right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display:none;
}

.cast-content2{
  display:none;
}
#check{
  display: none;
}


@media (max-width:1050px){
  label.logo{
    font-size:30px;
    top:5px;
  }
  nav ul li a{
    font-size: 16px;
  }

 /* div.Movie video{
    height: 65%;
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
  }*/
  .footer{
    font-size: 2vh;
  }
  .card-container{
    display:none;
  }
  .cast-content2{
    display:inline;
  }
  .Toggler{
    display: none;
  }
  #hacker{
    display: none;
  }
}
@media (max-width:858px){
  .checkbtn{
    display: block;
  }
  label.logo{
    display: none;
  }
  label.logo2{
    display: block;
  }
  .footer{
    /* position: relative; */
  }

/*  div.Movie video{
    height: 100%;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 10px;
  }*/
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1F201D;
    top:80px;
    left:-100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display:block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size:20px;
  }
  a:hover, a.active{
    background: none;
    color:red;
  }
  #check:checked ~ ul{
    left:0;
    transition: 1s;
  }
  #check:checked ~ video{
    display: none;
  }
}
@media (max-width:575px){
  .footer{
    position: relative;
  }
}
